.profile-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.left-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}

.user-info {
  display: flex;
  gap: 20px;
  background-color: #1a1a1d;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
}

.user-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info-details {
  font-size: 18px;
}

.subscription-block {
  background-color: #1a1a1d;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
}

.progress-block{
  background-color: #1a1a1d;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
}

#edit-progress-form {
  margin-top: 10px;
}

#save-progress-btn {
  background-color: #6f2232;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

#save-progress-btn:hover{
 background-color: #c3073f;
}

.calendar-block {
  width: 23%;
  background-color: #1a1a1d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#calendar-header {
  font-weight: bold;
  margin-bottom: 10px;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.calendar-day {
  padding: 6px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s;
}

.calendar-day:hover {
  background-color: #555;
}

.calendar-day.highlight {
  background-color: #c3073f;
  color: white;
}

.calendar-day-name {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

#record-info {
  margin-top: 15px;
  font-size: 16px;
  color: #ffcc00;
}


