.main-content {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.two-columns {
  display: flex;
  width: 90%;
  max-width: 1200px;
  gap: 10px;
}

.schedule {
  flex: 0 0 250px;
  min-width: 250px;
  background-color: #1a1a1d;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  align-self: flex-start;
  margin-left: 0;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.schedule h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.schedule ul {
  list-style: none;
  padding-left: 0;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}

.schedule li {
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 1px solid #444;
}

.schedule li:last-child {
  border-bottom: none;
}

.subscriptions {
  flex: 0 0 600px;
  text-align: center;
  background-color: #1a1a1d;
}

.subscriptions .title {
  font-size: 28px;
  margin-bottom: 25px;
  color: #fff;
}

.subscription-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.subscription-item {
  width: 100%;
  max-width: 500px;
  font-size: 16px;
  font-weight: bold;
  padding: 13px 20px;
  border-radius: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s;
  background-color: #6f2232;
  box-shadow: 0 0 10px rgb(96, 96, 96);
}

.subscription-item:hover {
  background-color: #6f2232;
  transform: scale(1.05);
}

.buy-btn {
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  background-color: transparent;
  border: none;
  color: white;
}
